/* App.css */
.app-container {
  text-align: center;
  padding: 20px;
}

.app-name {
  font-size: 36px; /* Increased font size */
  color: #3498db; /* Blue color */
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out; /* Fade-in animation */
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



